Django==6.0.4
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
dj-database-url==3.1.2
psycopg[binary]
gunicorn==22.0.0
python-dotenv==1.0.0
requests==2.33.1
whitenoise==6.7.0
